<?xml version='1.0' encoding='utf-8'?>
<widget id="com.firebaseapp.krakn" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>krakn</name>
    <description>Real-time chat application built with AngularJS, the Ionic Framework and Firebase as an example application for the book AngularJS Deployment Essentials.</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">Author name and email</author>
    <content src="plugins/org.chromium.bootstrap/chromeapp.html" />
</widget>
