/*==========================================
  Ionic overrides & enhancements
==========================================*/

.hide {
   display: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}

form {
  margin: 0px 0px 1.42857px;
}

form label {
   display: block;
   /*margin: 15px 0;*/
}

form label span {
   display: block;
   font-weight: bold;
}

.error {
   color: red;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* http://forum.ionicframework.com/t/android-keypad-covering-input-fix-but-flickering/1372/7?u=zach */
.hide-footer .bar-footer, .hide-footer .tabs {
  display: flex;
}
.hide-footer .has-footer, .hide-footer .has-tabs {
  bottom: 44px; 
}

.item-content p {
  overflow: visible;
  white-space: pre-wrap; 
}


/*==========================================
  Top bar
==========================================*/

#app-name {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.nav-bar .title {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 100;
  text-transform: lowercase;
}


/*==========================================
  Home
==========================================*/

#github-btn {
  font-size: 40px;
}

dd {
  margin-bottom: 5px;
  margin-left: 10px;
}

dd:last-child {
  margin-bottom: -20px;
}


/*==========================================
  Chat
==========================================*/

.list {

}

.list #chat .item {
  transition: 0.5s linear all;
  width: 80%;
  margin: 5px;
}

.list #chat .item.isNotMe {
  float: left;
}

.list #chat .item.isMe {
  float: right;
}

.list .item.ng-enter {
  opacity: 0;
}

.list .item.ng-enter-active {
  opacity: 1;
}

#chat-input {
  border-top: 3px solid #ACACAC;
  background-color: #ACACAC;
}

#chat-input form {
  width: 100%;
}

#chat-input .item-input-wrapper {
  width: 85%;
  float: left;
}

#chat-input input {
  padding-left: 4px;
  height: 29px;
  background: inherit;
  line-height: 18px;
}

input.stable::-webkit-input-placeholder {
   color: #ACACAC;
}

input.assertive::-webkit-input-placeholder {
   color: #cc2311;
}

#chat-send {
  font-size: 25px;
  color: #145fd7;
  float: right;
  margin-top: -2px;
}

small.time {
  font-size: 75%;
  position: absolute;
  right: 15px;
  top: 15px;
  color: rgba(1,1,1,0.4);
}


/*==========================================
  Menu
==========================================*/

header .title img {
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
}

.menu-left .list img {
  margin-bottom: -370px;
  width: 300px;
  margin-left: 30px;
}

.menu-left .item {
  background-color: rgba(255, 255, 255, 0.7);
}


/*==========================================
  Bubbles
  http://stackoverflow.com/questions/13953053/animate-bubbles-upwards-continuously-with-css3
==========================================*/

#bubbles { height: 100% }
body { overflow: hidden }
#bubbles { padding: 100px 0 }
.bubble {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgb(67, 206, 230);
    border-radius: 200px;
    -webkit-border-radius: 200px;
       -moz-border-radius: 200px;
}

.x1 {
    -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
       -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
         -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
       -moz-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
       -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
         -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 350px;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
       -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
         -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 470px;
    -webkit-transform: scale(0.75);
       -moz-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
       -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
         -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 150px;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
       -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
         -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/*@-moz-keyframes moveclouds {
    0% { 
        top: 500px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}